# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log

# Env
.env
.env.*
!.env.example

# Build outputs
dist/
build/
coverage/
.cache/
.next/
out/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/